name: "Daily Tech News by VJ"

on:
  schedule:
    # Runs at 03:30 UTC every day (which is 09:00 AM IST)
    - cron: '30 3 * * *'
  workflow_dispatch:
    # Allows you to manually run this workflow from the Actions tab

jobs:
  run_bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        ls -R
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip list

    - name: Run GM Bot
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        GITHUB_ACTIONS: "true"
      run: python bot.py
