name: Good Morning Bot

on:
  schedule:
    # Runs at 03:30 UTC every day (which is 09:00 AM IST)
    - cron: '30 3 * * *'
  workflow_dispatch: # Allows manual trigger from GitHub UI

jobs:
  send_message:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests pytz schedule

    - name: Run Bot
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: |
        cd gm_bot
        python bot.py
